* {
  font-family: 'RobotoMono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: white;

  background: #de6161;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2657eb, #de6161);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2657eb, #de6161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.coontainer {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
  font-size: 45px;
  margin-bottom: 50px;
}

h3 {
  padding-bottom: 10px;
  margin: 60px 0px 0px 0px;
}

a {
  color: white;
  text-decoration: none;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('./font/Roboto-Thin.ttf');
}